<form name="calname" action ="buttonClicked" method="POST">
        {% csrf_token %}
      <div class="calculator">

        <input type="text" class="calculator-screen" value={{val}} disabled name = "text-box"/>

        <div class="calculator-keys">

          <button type="button"  onclick="document.calname.ans.value+= value" class="operator" value="+">+</button>
          <button type="button" class="operator" value="-">-</button>
          <button type="button" class="operator" value="*">&times;</button>
          <button type="button" class="operator" value="/">&divide;</button>

          <button type="button" value="7" onclick="document.calname.ans.value+=7">7</button>
          <button type="button" value="8"  onclick="document.calname.ans.value+=8">8</button>
          <button type="button" value="9">9</button>


          <button type="button" value="4">4</button>
          <button type="button" value="5">5</button>
          <button type="button" value="6">6</button>


          <button type="submit" value="1" name="btn1">1</button>
          <button type="button" value="2">2</button>
          <button type="button" value="3">3</button>


          <button type="button" value="0">0</button>
          <button type="button" class="decimal" value=".">.</button>
          <input type="reset" value='Reset'>

          <input type="button"  onclick="document.calname.ans.value = eval(document.calname.ans.value)" value="=">
          <br>solution: <input type="text" name="ans" value="">

        </div>
      </div>
    </form>